P
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 7pt;
	font-weight : normal;
}

.bold
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 7pt;
	font-weight : bold;
}

.bodytext
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 7pt;
	font-weight : normal;
}

.ital
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 7pt;
	font-weight : normal;
	font-style : italic;
}

.highlight
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 7pt;
	font-weight : normal;
	color : #FF9900;
}